.main2 {
    background-color: #F9F9F7;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;

    .container {
        .main2_content {
            display: flex;
            justify-content: space-between;
            position: relative;
            
            .left {
             img {
                width: 429px;
                height: auto;
             }   
            }

            .right {
                margin-left: 150px;
                padding-top: 70px;
                h2 {
                    font-size: 40px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 520;
                    text-align: center;
                }

                 P{
                    font-family: Arial, Helvetica, sans-serif;
                 }
                .description1 {
                    margin-top: 40px;
                    font-size: 18px;
                    font-weight: 550;
                }

                .description2 {
                    margin-top: 24px;
                    font-size: 16px;
                    color: #414536;
                }

                .btn {
                    margin-top: 40px;
                    padding: 10px 20px ;
                    border-radius: 20px;
                    border: 2px solid black;
                    text-align: center;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        border: 2px solid white;
                        background-color: #474747;
                        color: white;                        
                    }
                    
                }

            }

            .dynamic {
                position: absolute;
                background-color: #474747;
                left: 200px;
                top: 200px;
                color: white;
                padding-top: 30px;
                font-family: "Montserrat", sans-serif;
                border-radius: 20px;
                
                .dynamicTitle {
                    font-weight: 550;
                    font-size: 22px;
                    border-radius: 20px;
                    text-align: center;
                }
                .contacts {
                    padding: 20px 50px 50px 50px;
                    .contactDivs {
                        display: flex;
                        align-items: center;
                        margin-top: 20px;

                        p {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 480px) {
    .main2 {
        .container {
            .main2_content {
                flex-direction: column;
                .left {
                    img {
                        display: none;
                        
                    }
                }
                
                .right {
                    margin-left: 0;
                    margin-top: 250px;


                }
                
                .dynamic {
                    left: 20px;
                    top: 20px;
                }
            
        }
    }
}
}